{% load humanize %}
<style>
.dropdown-navbar.navbar-pink>li.dropdown-header {
    background-color: #23c6c8!important;
    color: #fff;
    border-bottom-color: #e5bcd4;
}

.dropdown-navbar>li.dropdown-header {
    background-color: #ecf2f7!important;
    color: #8090a0;
    border-bottom-color: #bcd4e5;
}

.dropdown-navbar>li.dropdown-header {
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid;
}
.dropdown-navbar>li {
    padding: 0 8px;
    background-color: #fff;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
</style>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="全局搜索..." class="form-control" name="search" id="top-search">
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn-sm btn-default navbar-toggle collapsed" data-toggle="collapse" data-target="#system-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="system-navbar-collapse">
        <ul class="nav navbar-top-links navbar-right">
            {% for n in navigations %}
            <li title="{{ n.comment }}">
                <a href="{{ n.path }}" {% if n.current %}style="background-color: #ececec;" {% endif %}>
                    {% if n.icon %}<i class="fa fa-{{ n.icon }}" aria-hidden="true"></i>{% endif %}
                     <span class="m-r-sm" style="margin-right: 5px;">
                         {{ n.name }}
                     </span>
                </a>
            </li>
            {% endfor %}
            <li title="API帮助文档">
                <a href="/api/">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="m-r-sm" style="margin-right: 5px;">帮助</span>
                </a>
            </li>
            <li title="登出">
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <span class="m-r-sm" style="margin-right: 5px;">登出</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<!-- 全局搜索 -->
<div class="modal fade" id="globalSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">全局搜索</label></h4>
            </div>
            <div class="modal-body">
                <table id="global_user_table" data-show-columns="false"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭 </button>
            </div>
        </div>
    </div>
</div>
<!-- 全局搜索 -->

<script>

$("#top-search").on('change', function (e) {
    globalSearch();
});

$("#top-search").on('keydown', function (e) {
    var key = e.which;
    if (key == 13) {
        globalSearch();
        e.stopPropagation();
        return false;
    }
});


function globalSearch() {
    var search = $("#top-search").val();
    if(search == "" || search == null) {
        return;
    }
    searchAllUsers()
    $("#globalSearchModal").modal('show');
}

</script>