{% load humanize %}
<style>
.dropdown-navbar.navbar-pink>li.dropdown-header {
    background-color: #23c6c8!important;
    color: #fff;
    border-bottom-color: #e5bcd4;
}

.dropdown-navbar>li.dropdown-header {
    background-color: #ecf2f7!important;
    color: #8090a0;
    border-bottom-color: #bcd4e5;
}

.dropdown-navbar>li.dropdown-header {
    text-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px solid;
}
.dropdown-navbar>li {
    padding: 0 8px;
    background-color: #fff;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
</style>
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
        <form role="search" class="navbar-form-custom" method="get" action="">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="全局搜索..." class="form-control" name="search" id="top-search">
                </div>
            </div>
        </form>
    </div>
    <button type="button" class="btn-sm btn-default navbar-toggle collapsed" data-toggle="collapse" data-target="#system-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="collapse navbar-collapse" id="system-navbar-collapse">
        <ul class="nav navbar-top-links navbar-right">
            {% for n in navigations %}
            <li title="{{ n.comment }}">
                <a href="{{ n.path }}" {% if n.current %}style="background-color: #ececec;" {% endif %}>
                    {% if n.icon %}<i class="fa fa-{{ n.icon }}" aria-hidden="true"></i>{% endif %}
                     <span class="m-r-sm" style="margin-right: 5px;">
                         {{ n.name }}
                     </span>
                </a>
            </li>
            {% endfor %}
            <li title="API帮助文档">
                <a href="/api/">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="m-r-sm" style="margin-right: 5px;">帮助</span>
                </a>
            </li>
            <li title="登出">
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <span class="m-r-sm" style="margin-right: 5px;">登出</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<!-- 全局搜索 -->
<div class="modal fade" id="globalSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><label class="control-label" id="myTitle">全局搜索</label></h4>
      </div>
      <div class="modal-body">
          <div class="panel panel-default" style="display:none;" id="global_asset_div">
            <div class="panel-heading">
                <h3 class="panel-title">主机信息</h3>
            </div>
            <div class="panel-body">
                <div class="dan-table-menu form form-inline" id="_global_toolbar"></div>
                <table id="global_asset_table" data-show-columns="false"></table>
            </div>
          </div>
          <div class="panel panel-default" style="display:none;" id="global_app_div">
            <div class="panel-heading">
                <h3 class="panel-title">应用信息</h3>
            </div>
            <div class="panel-body">
                <table id="global_app_table" data-show-columns="false"></table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭 </button>
      </div>
    </div>
  </div>
</div>
<!-- 全局搜索 -->

<script>

$("#top-search").on('change', function (e) {
    globalSearch();
    e.stopPropagation();
    return false;
});
$("#top-search").on('keydown', function (e) {
    var key = e.which;
    if (key == 13) {
        globalSearch();
        e.stopPropagation();
        return false;
    }
});

function searchAssetHost() {
    var _table = $('#global_asset_table').bootstrapTable('destroy').bootstrapTable({
        method: 'get',
        contentType:"application/json",
        dataType: "json",
        columns: [
                {field: 'id',title: 'ID'},
                {field: 'name', title: '名称', formatter: function opFormatter(value, row, index) {
                    var html = "<div class='arrowed-in' style='white-space:nowrap;'><a href='/asset/detail/?pk=" + row.id + "' class='globalSearchACL'>" + value + "</a></div>";
                    return html;
                }},
                {field: 'tags', title: 'Tag', formatter: function opFormatter(value, row, index) {
                    var taglist = []
                    $.each(value, function(k, v){
                        taglist.push('<span class="label label-info arrowed-right arrowed-in" style="line-height: 25px;">' + v.key + ":" + v.value + '</span>')
                    })
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + taglist.join("<br/>") + '</div>'
                }},
                {field: 'instance_id', title: '实例ID', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'aliyun_key_name', title: '账号名', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'ip', title: 'IP', sortable: true, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'state_name', title: '状态', formatter: function (value, row, index) {
                    var state = row['state'];
                    var html = value;
                    if (state == 100) {
                        html = '<span class="label label-primary arrowed-right arrowed-in">' + value + '</span>'
                    } else if (state == -100) {
                        html = '<span class="label label-danger arrowed-right arrowed-in">' + value + '</span>'
                    } else if (state == 200) {
                        html = '<span class="label label-warning arrowed-right arrowed-in">' + value + '</span>'
                    } else if (state == 0) {
                        html = '<span class="label label-info arrowed-right arrowed-in">' + value + '</span>'
                    }
                    return html;
                }},
                {field: 'env_name', title: '环境', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'asset_type_name', title: '设备类型', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'asset_number', title: '资产编号', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'publicip', title: '公网IP', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'other_ips', title: '其他IP', visible: false, formatter: function opFormatter(value, row, index) {
                    var iplist = []
                    $.each(value, function(k, v){
                        iplist.push(v.ip + " (" + v.remark + ")")
                    })
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + iplist.join("<br/>") + '</div>'
                }},
                {field: 'sn', title: '序列号', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'room_name', title: '机房', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'rack_name', title: '机柜', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'units', title: 'U位', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'firm_name', title: '厂商', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'number_name', title: '型号', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'oobip', title: '带外管理IP', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'parent_ip', title: '宿主机IP', visible:false, formatter: function(value, row, index) {
                    return '<a href="/asset/detail/?pk='+row.hostid+'" style="white-space:nowrap;">'+ value +'</a>';
                }},
                {field: 'apps', title: '所属应用', visible:false, formatter: function(value, row, index) {
                    var htmlarr = []
                    for(var i in value) {
                        var e = value[i]
                       htmlarr.push("<a href='/app/app/detail/?id=" + e.id + "'>" + e.full_name + "</a>")
                    }
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + htmlarr.join("<br/>") + '</div>'
                }},
                {field: 'leader_name', title: '业务负责人', visible:false, formatter: function(value, row, index) {
                    if(value == null) {
                        value = ""
                    }
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'sa_name', title: '运维负责人', visible:false, formatter: function(value, row, index) {
                    if(value == null) {
                        value = ""
                    }
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'inventory_time', title: '盘点日期', visible:false, formatter: function(value, row, index) {
                    if(value == null) {
                        value = ""
                    }
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'shiptime', title: '购买时间', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'expirtime', title: '过保时间', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'contract', title: '合同', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'supplier_name', title: '供应商', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'provider_name', title: '维保服务商', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'number', title: '数量', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'mac', title: 'MAC', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'os_name', title: '操作系统', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'kernel', title: '内核', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'cpu', title: 'CPU核数', sortable: true, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'memory', title: '内存', sortable: true, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'amount', title: '价格', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'region_id', title: '地域ID', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'zone_id', title: '可用区ID', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'vpc_id', title: 'VPC ID', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'slave_zone_id', title: 'SLB备可用区ID', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'master_instance', title: 'Master ID', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'port', title: '端口', visible:false, formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }},
                {field: 'remark', title: '备注', formatter: function(value, row, index) {
                    return '<div class="arrowed-in" style="white-space:nowrap;">' + value + '</div>'
                }}
            ],
        url: "{% url 'api_asset_host' %}?format=json",
        queryParams: function (params) {
            var search = $("#top-search").val();
            params['search'] = search
            return params
        },
        pagination: true,
        pageSize: 10,
        pageList: [10, 20, 50],
        sidePagination: 'server',
        showColumns: true,
        toolbar: "#_global_toolbar",
        cache: false,
        responseHandler: function (res) {
            if(res.count > 0) {
                $("#global_asset_div").show();
            } else {
                $("#global_asset_div").hide();
            }
            return {
                total: res.count,
                rows: res.results
            };
        }
    });
}

function searchApp() {
    var app_table = $('#global_app_table').bootstrapTable('destroy').bootstrapTable({
        columns: [
            {field: 'id', title: 'ID'},
            {field: 'full_name', title: '应用全称', formatter: function opFormatter(value, row, index) {
                var html = "<a href='/app/?id=" + row.id + "' class='globalSearchACL'>" + value + "</a>";
                return html;
            }},
            {field: 'domain', title: '域名'},
            {field: 'port', title: '端口'},
            {field: 'remark', title: '备注'}
        ],
        url: "{% url 'api_app' %}?format=json",
        queryParams: function (params) {
            var search = $("#top-search").val();
            params['search'] = search
            return params
        },
        pagination: true,
        pageSize: 10,
        pageList: [10, 20, 50],
        sidePagination: 'server',
        cache: false,
        responseHandler: function (res) {
            if(res.count > 0) {
                $("#global_app_div").show();
            } else {
                $("#global_app_div").hide();
            }
            return {
                total: res.count,
                rows: res.results
            };
        }
    });
}

function globalSearch() {
    var search = $("#top-search").val();
    if(search == "" || search == null) {
        return;
    }
    searchAssetHost();
    searchApp()
    $("#globalSearchModal").modal('show');
}

</script>